.custom-native-scroll {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 22px;

  /* Firefox */
  scrollbar-width: none;

  /* IE antigo */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.custom-native-scroll::-webkit-scrollbar {
  display: none;
}

/* Linha */
.scroll-indicator {
  position: relative;
  width: 2px;
  background: #00000024;
  border-radius: 10px;
}

/* Bolinha */
.scroll-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #0000008b;
  border-radius: 50%;
  top: 0;
  transition: top 0.05s linear;
}
